:root {
  --white-color: #fcfcf0;
  --dark-color: #2d2a26;

  --blue-color: #307fe2;
  --baby-blue-color: #8abadd;
  --redx-color: #f87c56;
  --orangy-color: #f68d2e;
  --pinky-color: #ecb3cb;
  --salmon-color: #f5cabf;
}
